[docker_install]
example_server ansible_host=192.168.0.1 ansible_port=22 ansible_user=root ansible_ssh_private_key_file=/etc/ansible/keys/ssh-private-key ansible_password=PASSWORD_EXAMPLE

[master_proxy]
example_server ansible_host=192.168.0.1 ansible_port=22 ansible_user=root ansible_ssh_private_key_file=/etc/ansible/keys/ssh-private-key ansible_password=PASSWORD_EXAMPLE

[need_users_management]
example_server ansible_host=192.168.0.1 ansible_port=22 ansible_user=root ansible_ssh_private_key_file=/etc/ansible/keys/ssh-private-key ansible_password=PASSWORD_EXAMPLE

[ssh_configuration]
example_server ansible_host=192.168.0.1 ansible_port=22 ansible_user=root ansible_ssh_private_key_file=/etc/ansible/keys/ssh-private-key ansible_password=PASSWORD_EXAMPLE

[nginx_setup]
example_server ansible_host=192.168.0.1 ansible_port=22 ansible_user=root ansible_ssh_private_key_file=/etc/ansible/keys/ssh-private-key ansible_password=PASSWORD_EXAMPLE

[need_gpu_setup]
example_server ansible_host=192.168.0.1 ansible_port=22 ansible_user=root ansible_ssh_private_key_file=/etc/ansible/keys/ssh-private-key ansible_password=PASSWORD_EXAMPLE

[gitlab_setup]
example_server ansible_host=192.168.0.1 ansible_port=22 ansible_user=root ansible_ssh_private_key_file=/etc/ansible/keys/ssh-private-key ansible_password=PASSWORD_EXAMPLE

[gitlab_backup_restore]
example_server ansible_host=192.168.0.1 ansible_port=22 ansible_user=root ansible_ssh_private_key_file=/etc/ansible/keys/ssh-private-key ansible_password=PASSWORD_EXAMPLE

[gitlab_backup_create]
example_server ansible_host=192.168.0.1 ansible_port=22 ansible_user=root ansible_ssh_private_key_file=/etc/ansible/keys/ssh-private-key ansible_password=PASSWORD_EXAMPLE
