---
- name: Configure master server for proxy http/https request to local servers
  hosts: master_proxy
  become: true

  vars:
    src_main_base_nginx_conf: "{{ playbook_dir }}/../nginx/nginx.conf"
    src_base_stream_conf: "{{ playbook_dir }}/../nginx/stream.d/"
    src_base_virtual_nginx_conf: "{{ playbook_dir }}/../nginx/conf.d/"

    dest_main_base_nginx_conf: "/etc/nginx/nginx.conf"
    dest_base_stream_conf: "/etc/nginx/stream.d"
    dest_base_virtual_nginx_conf: "/etc/nginx/conf.d"

  tasks:
    - name: Check directories
      ansible.builtin.stat:
        path: "{{ item }}"
      register: dirs
      loop:
        - "{{ dest_main_base_nginx_conf }}"
        - "{{ dest_base_stream_conf }}"

    - name: Print status
      debug:
        msg: "{{ item.stat }} exists={{ item.stat.exists }}"
      loop: "{{ dirs.results }}"

    - name: Copy base stream nginx config for master proxy
      copy:
        src: "{{ src_base_stream_conf }}"
        dest: "{{ dest_base_stream_conf }}/"
        owner: root
        group: root
        mode: "0644"
        directory_mode: "0755"

    - name: Copy base nginx config for master proxy
      copy:
        src: "{{ src_base_virtual_nginx_conf }}"
        dest: "{{ dest_base_virtual_nginx_conf }}/"
        owner: root
        group: root
        mode: "0644"
        directory_mode: "0755"

    - name: Copy base nginx config for Server
      copy:
        src: "{{ src_main_base_nginx_conf }}"
        dest: "{{ dest_main_base_nginx_conf }}"
        mode: '0644'

    - name: Test Nginx Configuration
      command: nginx -t
      register: nginx_test
      changed_when: false

    - name: Display nginx test result
      debug:
        var: nginx_test.stdout_lines

    - name: Restart system nginx
      systemd:
        name: nginx
        state: restarted



